* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5%;
}

.table {
    display: flex;
    flex-direction: column;
    background-color: white(248, 248, 248);
    width: 75%;
    min-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.topHead {
    width: 100%;
    min-height: 30px;

}

.tBody {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tr {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.trBody {
    width: 100%;
    display: flex;
}

.tdBody {
    width: 25%;
    height: auto;
    display: flex;
    border-bottom: #969595 1px solid;
    justify-content: space-around;
    padding: 20px;
}

.mainTh {
    background-color: crimson;
    color: white;
    font-weight: 300;
    width: 50%;
    padding: 20px;
}

.tBody {
    display: flex;
    font-size: 0, 6rem;
    padding: 20px;
}

.button1 {
    width: 100px;
    height: 40px;
    background-color: red;
    color: white;
    border: 0px;
    padding-right: 20px;
}

.button2 {
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
    border: 0px;
}

.searchBar {
    width: 300px;
    min-height: 40px;
    outline: 0;
    border: 0;
    border-bottom: 1px rgb(155, 152, 152) solid;
    padding: 10px;
    margin: 20px 20px;
}

.searchButton {
    width: 100px;
    height: 40px;
    background-color: rgb(209, 212, 209);
    color: white;
    border: 0px;
    margin-left: 20px;
}

.removeAllButton {
    width: 200px;
    height: 40px;
    background-color: rgb(209, 212, 209);
    color: white;
    border: 0px;
    margin-left: 20px;
}

.searchButton:hover {
    background-color: rgb(3, 42, 94);
}

.removeButton:hover {
      background-color: rgb(3, 42, 94);
}